
<div class="modal" tabindex="-1" role="dialog" id="addUpdatePayerModal">
        <form>
            <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle" *ngIf="!payerInfo || payerInfo.id === undefined">Add Payer</h5>
                <h5 class="modal-title" id="exampleModalLongTitle" *ngIf="payerInfo && payerInfo.id !== undefined">Update {{payerInfo.name}}</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                            <div class="form-group">
                                <label for="name-input">Name:</label>
                                <input type="text" id="name-input" name="name-input" [(ngModel)]="payerInfo.name" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="code-input">Code</label>
                                <input type="text" id="code-input" name="code-input" [(ngModel)]="payerInfo.code" class="form-control" />
                            </div>
                </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="addUpdatePayerRecord($event);">Save</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
    </form>
</div>

