<div class="container">
    <div class="row" style="padding-bottom: 30px;">
        <div class="col">
            <app-grid-payers (payerSelected)="selectPayer($event)"></app-grid-payers>
        </div>
    </div>
    <div class="row"  *ngIf="payerId">
        <div class="col">
            <app-grid-branches [payerId]='payerId'></app-grid-branches>
        </div>
    </div>
</div>