
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h5>Branches</h5>
        </div>
        <div class="panel-body">
            <table id='branches-table' datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-hover row-border hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Address</th>
                        <th>Coordinates</th>
                        <th>Commands</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let branchInfo of branchesData">
                        <td>{{ branchInfo.name }}</td>
                        <td>{{ branchInfo.code }}</td>
                        <td>{{ branchInfo.formattedAddress }}</td>
                        <td>{{ branchInfo.lattitudeLongitude }}</td>
                        <td style="width:1px;" class="text-center">
                            <a (click)="editBranchRecord(branchInfo)" class="text-info">
                                <fa name="edit"></fa>
                            </a>&nbsp;
                            <a (click)="deleteBranchRecord(branchInfo)" class="text-danger">
                                <fa name="trash"></fa>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-primary" (click)="newRecord()" id="new-button">Ceate Branch</button>
        </div>
        <app-add-update-branch (branchCreated)="createUpdateBranch($event)" [branchInfo]="currentBranch"></app-add-update-branch>
    </div>
