<div class="modal" tabindex="-1" role="dialog" id="addUpdateBranchModal">
    <form>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle" *ngIf="!branchInfo || branchInfo.id === undefined">Add
                        Branch</h5>
                    <h5 class="modal-title" id="exampleModalLongTitle" *ngIf="branchInfo && branchInfo.id !== undefined">Update
                        {{branchInfo.name}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="payerid-input" name="payerid-input" [(ngModel)]="branchInfo.payerid" />
                    <div class="form-group">
                        <label for="name-input">Name</label>
                        <input type="text" id="name-input" name="name-input" [(ngModel)]="branchInfo.name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="code-input">Code</label>
                        <input type="text" id="code-input" name="code-input" [(ngModel)]="branchInfo.code" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="code-input">Address</label>
                        <input type="text" id="formattedAddress-input" name="formattedAddress-input" [(ngModel)]="branchInfo.formattedAddress"
                            class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="code-input">Lattitude & Longitude</label>
                        <input type="text" id="lattitudeLongitude-input" name="lattitudeLongitude-input" [(ngModel)]="branchInfo.lattitudeLongitude"
                            class="form-control" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="addUpdateBranchRecord($event);">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </form>
</div>