
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h5>Payers</h5>
        </div>
        <div class="panel-body">
            <table id='payers-table' datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-hover row-border hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Commands</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let payerInfo of payersData" (click)="selectRecord(payerInfo)" >
                        <td>{{ payerInfo.name }}</td>
                        <td>{{ payerInfo.code }}</td>
                        <td style="width:1px;" class="text-center">
                            <a (click)="editRecord(payerInfo)" class="text-info">
                                <fa name="edit"></fa>
                            </a>&nbsp;
                            <a (click)="deleteRecord(payerInfo)" class="text-danger">
                                <fa name="trash"></fa>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <button type="button" class="btn btn-primary" (click)="newRecord()" id="new-button">Ceate Payer</button>
        </div>
        <app-add-update-payer (payerCreated)="createUpdatePayer($event)" [payerInfo]="currentPayer"></app-add-update-payer>
    </div>
